.li{
    text-decoration: none;
}

.input{
    margin-right: 10px;
    border: 1px solid rgb(59, 58, 58);
    height: 20px;
    width: auto;
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.header{
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 10px 5px 10px 5px;
    position: sticky;
    top: 0;
    z-index: 10000;
    background-color: whitesmoke;
    color: var(--header-color);
    box-shadow: 0px 1px 0 rgb(54, 79, 122);
    margin-bottom: 10px;
}
.header_logo{
    font-size: 32px;
    object-fit: contain;
}
.header_right{
    display: flex;
    align-items: center;
    justify-content: space-between;
}
.header_input{
    display: flex;
    width: 20rem;
    align-items: center;
    border: 1px solid rgb(37, 26, 26);
    margin-right: 20px;
}

.input > input{
    /* display: none; */
    flex: 1;
    border: none;
    height: 100%;
    width: 80%;
    font-size: large;
    padding-left: 5px;
    background-color: rgb(255, 255, 255);
}
.input > input:focus{
    outline: none;
}
.header_search{
    margin-right: 15px;
    height: 5px;
    color: black;
    cursor: pointer;
}
.header_input_button{
    width: 50px !important;
    color: rgb(149, 149, 149);
}
.header_icon_container{
    display: flex;
    align-items: center;
}
.header_icons{
    margin-right: 10px;
    color: black;
}
.header_write{
    padding: 5px 2px 5px 2px;
    border: 1.5px solid rgb(77, 75, 75);
}
@media only screen and (max-width: 600px){
    .input > input{
        display: none;
    }
}